@{
    ViewData["Title"] = "Gestione Device Service";
}

<h1>@ViewData["Title"]</h1>

<div class="card" style="width: 18rem;" data-sensor-id="1">
    <div class="card-body">
        <h5 class="card-title">Sensor 000000001</h5>
        <div class="card-text">
            <div class="sensor-value" id="sensor-1-value">N/A</div>
            <div class="sensor-timestamp" id="sensor-1-timestamp">N/A</div>
        </div>
        <div id="result" style="margin-top: 20px;"></div>
        <div class="mt-3">
            <button id="startButton" class="btn btn-success">Start</button>
            <button id="stopButton" class="btn btn-danger">Stop</button>
            <button id="restartButton" class="btn btn-warning">Restart</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#startButton').click(function () {
            manageService('start');
        });

        $('#stopButton').click(function () {
            manageService('stop');
        });

        $('#restartButton').click(function () {
            manageService('restart');
        });


        function manageService(command) {
            $.ajax({
                url: `/Api/RemoteDeviceService?command=${command}`,
                method: 'POST',
                success: function (response) {
                    $('#result').text(`Comando '${command}' eseguito con successo: ${response}`);
                },
                error: function (xhr) {
                    $('#result').text(`Errore nell'esecuzione del comando '${command}': ${xhr.responseText}`);
                }
            });
        }

        function updateSensorData() {
            // Take all card 
            $('.card').each(function () {
                var sensorId = $(this).data('sensor-id'); // Take data-sensor-id value
                var card = $(this); 

                // AJAX 
                $.ajax({
                    url: `/api/DashboardAPI/last/${sensorId}`,
                    method: 'GET',
                    success: function (data) {
                 
                        card.find('.sensor-value').text(`${data.value}°C`); // Update t value
                        card.find('.sensor-timestamp').text(data.timestamp); //  Update t timestamp
                        console.log("Temperatura aggiornata")
                        console.log(`${data.value}°C`)
                        console.log()
                    },
                    error: function (xhr) {
                        card.find('.sensor-value').text('Errore');
                        card.find('.sensor-timestamp').text('');
                        console.error(`Errore nel recupero della temperatura per il sensore ID: ${sensorId}`, xhr.responseText);
                    }
                });
            });
        }
            
        updateSensorData();

        setInterval(updateSensorData, 5000);
        
    });
</script>